<!DOCTYPE html>
<html>
  <head><title>Apache Web Server</title></head>
  <body>
    <h1>Hostname: {{ ansible_hostname }}</h1>
    <p>IP Address: {{ ansible_default_ipv4.address }}</p>
  </body>
</html>
