<!DOCTYPE html>
<html>
<head>
    <title>HTTPD on RedHat</title>
</head>
<body>
    <h1>Hostname: {{ ansible_hostname }}</h1>
    <p>IPv4 Address: {{ ansible_default_ipv4.address }}</p>
</body>
</html>

