---
- name: Install and Configure Nginx with Tooplate "Individual" Template
  hosts: all
  become: yes
  gather_facts: true

  vars:
    tooplate_url: "https://www.tooplate.com/zip-templates/2142_cloud_sync.zip"
    download_dest: "/tmp/2142_cloud_sync.zip"
    extract_path: "/tmp/tooplate_individual"
    web_root: "/var/www/html"
    web_user: "{{ 'www-data' if ansible_os_family == 'Debian' else 'nginx' }}"

  tasks:

    - name: Install Nginx on Debian
      apt:
        name: nginx
        state: present
        update_cache: yes
      when: ansible_os_family == "Debian"

    - name: Install Nginx on RedHat
      yum:
        name: nginx
        state: present
      when: ansible_os_family == "RedHat"

    - name: Ensure Nginx is started and enabled
      service:
        name: nginx
        state: started
        enabled: yes

    - name: Install unzip
      package:
        name: unzip
        state: present

    - name: Download the Tooplate ZIP
      get_url:
        url: "{{ tooplate_url }}"
        dest: "{{ download_dest }}"
        mode: '0644'

    - name: Create extraction directory
      file:
        path: "{{ extract_path }}"
        state: directory
        mode: '0755'

    - name: Extract the ZIP file
      unarchive:
        src: "{{ download_dest }}"
        dest: "{{ extract_path }}"
        remote_src: yes

    - name: Find extracted folder inside extraction directory
      find:
        paths: "{{ extract_path }}"
        file_type: directory
        depth: 1
      register: found_dirs

    - name: Fail if no extracted folder found
      fail:
        msg: "No folder found after extraction. Check ZIP structure."
      when: found_dirs.matched == 0

    - name: Set extracted_folder variable
      set_fact:
        extracted_folder: "{{ found_dirs.files[0].path }}"

    - name: Copy extracted website files to Nginx web root
      copy:
        src: "{{ extracted_folder }}/"
        dest: "{{ web_root }}/"
        owner: "{{ web_user }}"
        group: "{{ web_user }}"
        mode: '0755'
        remote_src: yes

    - name: Remove default Nginx index page (Debian only)
      file:
        path: "{{ web_root }}/index.nginx-debian.html"
        state: absent
      when: ansible_os_family == "Debian"

    - name: Show access URL
      debug:
        msg: "Website deployed. Visit: http://{{ ansible_default_ipv4.address }}"